/* ? normalization and custom properties */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-text-color: #101828;
  --accent-text-color: #4a5565;
  --main-color: #ffffff;
  --bright-green: #00C850;
  --green: #00a63e;
  --dark-green: #016631;
  --bg-green: #DBFCE7;
  --bg-light-green: #F0FDF4;
  --red: #E7000B;
  --bg-red: #FFE2E2;
  --bg-light-gray: #F9FAFB;
  --bg-light-blue: #DBEAFE;
  --blue: #155dfb;
  --bg-yellow: #FEF9C1;
  --gold: #D08700;
}

&::-webkit-scrollbar {
  display: none;
}

span {
  display: inline-block;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

i {
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "IBM Plex Sans Arabic";
  font-weight: 600;
  background-color: var(--bg-light-gray);
  color: var(--main-text-color);
}

/* ? general classes */
.padding-24 {
  padding: 24px;
}

.card {
  padding: 24px;
  background-color: var(--main-color);
  border-radius: 16px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 1px 3px 0 #0000001a,
    0 1px 2px -1px #0000001a;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.orange-pill {
  background-color: #FFECD4;
  color: #F54A00;
}

.blue-pill {
  background-color: var(--bg-light-blue);
  color: var(--blue);
}

.red-pill {
  background-color: var(--bg-red);
  color: var(--red);
}

.dark-red-pill {
  background-color: var(--bg-red);
  color: #9E0712;
}

.dark-purple-pill {
  background-color: #E0E7FF;
  color: #4F39F6;
}

.light-purple-pill {
  background-color: #F2E8FF;
  color: #6D11B0;
}

.cyan-pill {
  background-color: #CEFAFE;
  color: #0092B8;
}

.dark-cyan-pill {
  background-color: #CEFAFE;
  color: #005F78;
}

.green-pill {
  background-color: #D0FAE5;
  color: #009866;
}

.dark-green-pill {
  background-color: #D0FAE5;
  color: #006045;
}

.brown-pill {
  background-color: #FFECD4;
  color: #9F2D00;
}

.yellow-pill {
  background-color: var(--bg-yellow);
  color: #894b00;
}

.pink-pill {
  background-color: #FCE7F3;
  color: #E60076;
}

.pill {
  border-radius: 99px;
  width: fit-content;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 10px;
}

.text-green {
  color: var(--green);
}

.progress-bar {
  width: 100%;
  height: 8px;
  display: block;
  background-color: #e5e7eb;
  border-radius: 3.4px;
  position: relative;

  &::after {
    content: '';
    width: 82.5%;
    height: 100%;
    position: absolute;
    right: 0;
    border-radius: 3.4px;
    background-color: #4574FF;
  }
}

/* ? sidebar */
aside {
  position: fixed;
  right: 0;
  background-color: var(--main-color);
  border-left: 1px solid #e5e7eb;
  width: 256px;
  height: 100vh;
  padding: 24px;
  box-shadow: 10px 0 35px #0000001a;
}

aside header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

aside .logo {
  color: var(--main-color);
  width: 56px;
  height: 56px;
  background-image: linear-gradient(to bottom right, var(--blue), #432dd7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0px 5px 15px #2b80ff30;

  & i {
    font-size: 20px;
  }
}

aside header h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 4px;
}

aside header p {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: var(--accent-text-color);
}

aside nav {
  margin-bottom: 32px;
}

aside nav li {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 12px 16px;
  color: var(--accent-text-color);
  border-radius: 12px;
  transition: .2s;

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }

  &:hover {
    background-color: var(--bg-light-gray);
  }

  &:first-child {
    color: #1447e6;
    background-color: #eff6ff;
    border: 1px solid var(--bg-light-blue);
  }

  & a {
    display: flex;
    gap: 12px;
    align-items: center;
  }
}

aside .action h3 {
  padding-inline: 8px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #364153;
}

aside .action li {
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 12px;
  transition: .2s;

  &:hover {
    background-color: #FAFAFA;
    transform: translate(2px);

    & a {
      color: #111827;
    }
  }

  & a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #374151;

    & .icon {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #3080ff1a;
      color: var(--blue);
      border-radius: 8px;
      font-size: 16px;
    }
  }
}

aside .action li:nth-child(2) .icon {
  color: var(--green);
  background-color: #00c7581a;
}

aside .action li:nth-child(3) .icon {
  color: #9810fa;
  background-color: #ac4bff1a;
}

aside .action li:nth-child(4) .icon {
  color: #f54900;
  background-color: #fe6e001a;
}

/* ? main  */
main {
  margin-right: 256px;
  padding: 32px;
}

main header {
  margin-bottom: 40px;
  background-image: linear-gradient(to left, #eef2ff75 10%, transparent 50% 80%, #eef2ff75 90% 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main header .logo {
  color: var(--main-color);
  width: 56px;
  height: 56px;
  background-image: linear-gradient(to bottom right, var(--blue), #432dd7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0px 5px 15px #2b80ff4a;

  & i {
    font-size: 20px;
  }
}

main header .right,
main header .right div:first-child {
  display: flex;
  align-items: center;
  gap: 16px;
}

main header h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 4px;
}

main header .desc {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: var(--accent-text-color);
}

main header>.status-2 {
  display: none;
}

main header .status,
main header>.status-2 {
  padding: 6px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #008235;
  background-color: #f0fdf4;
  border: 1px solid oklch(96.2% .044 156.743);
  border-radius: 8px;

  & .dot {
    width: 8px;
    height: 8px;
    background-color: #00c950;
    border-radius: 50%;
    animation: fade 1s alternate infinite cubic-bezier(0.4, 0, 0.6, 1);
  }



  & span {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}

main header>.status-2 {
  display: none;
}

@keyframes fade {
  from {
    background-color: #00c950;
  }

  to {
    background-color: #6ae09a;
  }
}

main header .left,
main header .left .actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

main header .left .user {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px 16px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;

  & .user-info .user-name {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }

  & .user-info span {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: #6a7282;
  }
}

main header .left .user .user-pic {
  width: 40px;
  border-radius: 12px;
  overflow: hidden;
}

main header .left .icon {
  width: 40px;
  height: 40px;
  background-color: var(--bg-light-gray);
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-text-color);
  transition: .2s;
  position: relative;

  &:hover {
    background-color: #F3F4F6;
    color: #364153;
  }

  &.notification::after {
    content: '2';
    position: absolute;
    background-color: #fb2c36;
    color: #ffffff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    top: -4px;
    right: -4px;
  }
}

/* ? summary section */
.summary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-bottom: 24px;

  .card {
    padding: 32px;

    .label {
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      color: #6a7282;
      margin-bottom: 8px;
    }

    .content {
      font-size: 36px;
      font-weight: 700;
      line-height: 40px;
    }

    .rate {
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      color: var(--green);
      margin-top: 8px;
    }

    &:last-child .rate {
      color: var(--red);
    }
  }
}

/* ? main content section */
main section.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  grid-template-areas:
    "activities transactions    transactions"
    "bills      transactions    transactions"
    "overview   income-outcome  payment-methods"
    "overview   account-summary payment-methods"
  ;

  .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 24px;
  }

  .see-more {
    color: var(--accent-text-color);
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    &:hover {
      color: var(--main-text-color);
    }
  }

  /* ? activities card */
  .activities {
    grid-area: activities;

    .card-content {

      >div {
        background-color: #EEF6FF;
        padding: 12px;
        margin-bottom: 12px;
        border-left: 4px solid #2b7fff;
        border-radius: 8px;
        display: flex;
        gap: 12px;

        .icon {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          background-color: var(--bg-light-blue);
          color: var(--blue);
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .content {
          width: 100%;
          display: flex;
          justify-content: space-between;

          >span {
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
            color: #155dfc;
          }

          .text {
            >div {
              font-size: 14px;
              font-weight: 700;
              line-height: 20px;
              margin-bottom: 4px;
            }

            >p,
            >span {
              font-size: 12px;
              font-weight: 600;
              line-height: 16px;
              color: var(--accent-text-color);
              margin-bottom: 8px;
            }

            >span {
              color: #6a7282;
              margin: 0;
            }
          }
        }
      }
    }

    .card-content>div:nth-child(2) {
      background-color: var(--bg-light-green);
      border-color: var(--bright-green);

      .label {
        color: var(--green);
      }

      .icon {
        color: var(--green);
        background-color: var(--bg-green);
      }
    }

    >.see-more {
      padding-top: 16px;
      border-top: 1px solid #f3f4f6;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: #1447e6;
      text-align: center;
      cursor: pointer;
    }
  }

  /* ? transactions card */
  .transactions {
    grid-area: transactions;
    max-width: 100%;

    .table-container {
      max-width: 100%;
      overflow-x: auto;
      scrollbar-color: #d1d5db #f3f4f6;
      scrollbar-width: thin;
      scroll-behavior: smooth;
    }

    table {
      min-width: 600px;
      width: 100%;
      border-collapse: collapse;
      text-align: right;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;

      thead {
        tr {
          border-bottom: 1px solid #f3f4f6;

          th {
            color: #364153;
            padding: 12px 8px;
          }
        }
      }

      tbody {

        tr:not(:last-of-type) {
          border-bottom: 1px solid #f9fafb;
        }

        tr {
          td {
            padding: 16px 8px;
          }

          td:first-child {
            display: flex;
            align-items: center;
            gap: 12px;

            .icon {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              overflow: hidden;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .label {
              font-size: 12px;
              font-weight: 600;
              line-height: 16px;
              color: #6a7282;
            }
          }

          td:nth-child(3) {
            color: var(--accent-text-color);
          }
        }
      }
    }
  }

  /* ? bills card */
  .bills {
    grid-area: bills;

    .head {
      text-align: center;
      margin-bottom: 16px;

      .amount {
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
      }

      .desc {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        color: var(--accent-text-color);
      }
    }

    .content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 12px;

      .bill {
        background-color: var(--bg-light-gray);
        padding: 12px;
        border: 1px solid #f3f4f6;
        border-radius: 12px;
        text-align: center;

        .icon {
          width: 32px;
          height: 32px;
          background-color: var(--bg-light-blue);
          color: var(--blue);
          border-radius: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto 8px;
        }

        .bill-name,
        .due-date {
          font-size: 12px;
          font-weight: 600;
          line-height: 16px;
          color: var(--accent-text-color);
        }

        .due-date {
          color: #fb2c36;
        }
      }

      .electricity {
        .icon {
          background-color: var(--bg-yellow);
          color: var(--gold);
        }

        .due-date {
          color: #f97200;
        }
      }

      .phone {
        .icon {
          background-color: var(--bg-green);
          color: var(--green);
        }

        .due-date {
          color: #00c950;
        }
      }

      .netflix {
        .icon {
          background-color: var(--bg-red);
          color: #EA1529;
        }

        .due-date {
          color: var(--accent-text-color);
        }
      }
    }



  }

  /* ? overview card */
  .overview {
    grid-area: overview;

    .content {

      .total {
        padding: 16px;
        background: linear-gradient(90deg, #eff6ff, #eef2ff);
        border: 1px solid #dbeafe;
        border-radius: 12px;
        margin-bottom: 24px;

        .total-budget {

          p {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            color: #155dfc;
          }

          .amount {
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
            color: #1c398e;
          }
        }

        .left {

          p {
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            color: #6a7282;
          }

          .amount {
            font-size: 18px;
            font-weight: 600;
            line-height: 28px;
            color: var(--green);
          }
        }

        .visual {
          margin-top: 12px;

          .flex {
            p {
              font-size: 12px;
              font-weight: 600;
              line-height: 16px;
              color: var(--accent-text-color);
              margin-bottom: 4px;
            }
          }
        }
      }

      .budget-item:not(:last-of-type) {
        margin-bottom: 16px;
      }

      .budget-item {
        background: #f9fafb80;
        border: 1px solid #e5e7ebcc;
        border-radius: .75rem;
        padding: 1rem;
        transition: all .2s;

        &:hover {
          background: #f3f4f6cc;
          border-color: #d1d5dbe6;
          transform: translateY(-1px);
          box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #0000000f;
        }

        >div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 8px;
        }

        .category {
          display: flex;
          align-items: center;
          gap: 12px;

          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 8px;
          }

          .name {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
          }

          .total-budget {
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            color: #6a7282;
          }
        }

        .progress-bar::after {
          background-color: #FF6800;
          width: 50%;
        }
      }

      .budget-item:nth-child(3) {
        .progress-bar::after {
          background-color: var(--red);
          width: 100%;
        }
      }

      .budget-item:nth-child(4) {
        .progress-bar::after {
          background-color: #F6339A;
          width: 80%;
        }
      }

      .budget-item:nth-child(5) {
        .progress-bar::after {
          background-color: var(--bright-green);
          width: 86%;
        }
      }

    }
  }

  /* ? income-outcome card */
  .income-outcome {
    grid-area: income-outcome;

    >div:nth-child(2) {
      display: flex;
      justify-content: center;
      gap: 16px;
      margin-bottom: 16px;

      >div {
        display: flex;
        align-items: center;
        gap: 8px;

        p {
          font-size: 12px;
          font-weight: 600px;
          line-height: 18px;
          color: #64748b;
        }

        .icon {
          width: 12px;
          height: 12px;
          border-radius: 2px;
          background-color: #10b981;
        }
      }

      >div:nth-child(2) {
        .icon {
          background-color: #EE4444;
        }
      }


    }

    .statistic {
      padding-block: 16px;
      display: flex;
      justify-content: space-around;

      .week {
        display: flex;
        flex-direction: column;
        align-items: center;

        .bars {
          display: flex;
          align-items: end;
          justify-content: center;
          gap: 2px;

          >div {
            width: 16px;
            height: 95px;
            background-color: #10b981;
            border-radius: 3px 3px 0 0;
            transition: .2s;

            &:hover {
              opacity: .8;
            }

            &:nth-child(2) {
              background-color: #EE4444;
              height: 42px;
            }
          }
        }

        p {
          font-size: 12px;
          font-weight: 600;
          line-height: 18px;
          color: #64748b;
          margin-top: 8px;
        }
      }
    }
  }

  /* ? account-summary card */
  .account-summary {
    grid-area: account-summary;

    .content {
      display: flex;
      flex-direction: column;
      gap: 16px;

      >div {
        padding: 16px;
        background-color: var(--bg-light-gray);
        border: 1px solid #f3f4f6;
        border-radius: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        >div {
          display: flex;
          gap: 12px;
        }

        .icon {
          width: 40px;
          height: 40px;
          background-color: var(--bg-light-blue);
          color: var(--blue);
          border-radius: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .text {
          >div {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
          }

          >p {
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            color: #6a7282;
          }
        }

        .amount {
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
        }
      }

      >div:nth-child(2) {
        .icon {
          background-color: var(--bg-green);
          color: var(--green);
        }
      }

      >div:nth-child(3) {
        .icon {
          background-color: #F2E8FF;
          color: #9810FA;
        }

        .amount {
          color: var(--red);
        }
      }
    }
  }

  /* ? payment-methods card */
  .payment-methods {
    grid-area: payment-methods;

    .content {

      .container:hover>.cards {
        transform: rotateY(180deg);
      }

      .container {
        width: 100%;
        margin-bottom: 16px;
        perspective: 1200px;

        .cards {
          width: 100%;
          min-height: 210px;
          position: relative;
          transition: all 1s cubic-bezier(.2, .9, .3, 1);
          transform-style: preserve-3d;

          .front,
          .back {
            width: 100%;
            min-height: 210px;
            color: var(--main-color);
            border-radius: 12px;
            top: 0;
            left: 0;
            backface-visibility: hidden;
          }

          .front {
            padding: 28px;
            background-color: #372aac;
            position: relative;

            .label {
              position: absolute;
              top: 10px;
              left: 12px;
              padding: 6px 10px;
              color: var(--main-color);
              background-color: #ffffff24;
              backdrop-filter: blur(4px);
              border-radius: 99px;
              font-size: 12px;
              font-weight: 700;
            }

            .top {
              margin-bottom: 32px;

              .connector {
                width: 48px;
                height: 32px;
                background-color: rgba(255, 255, 255, .3);
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;

                .inner {
                  width: 24px;
                  height: 16px;
                  background-color: rgba(255, 255, 255, .5);
                  border-radius: 3px;
                }
              }

              i {
                font-size: 35px;
              }
            }

            .middle {
              font-size: 20px;
              line-height: calc(1.75/1.25);
              font-family: ui-monospace,
                SFMono-Regular,
                Menlo,
                Monaco,
                Consolas,
                "Liberation Mono",
                "Courier New",
                monospace;
              margin-bottom: 8px;
            }

            .bottom {

              .holder p,
              .expire-date {
                color: #dbeafe;
                font-size: 12px;
                line-height: calc(1/.75);
              }

              .holder .name,
              .date {
                color: var(--main-color);
                font-size: 14px;
                font-weight: 500;
                line-height: calc(1.25/.875);
              }
            }
          }

          .back {
            padding: 16px;
            color: #fff;
            background: linear-gradient(120deg, #051026, #0b1220 45%, #0f1724);
            position: absolute;
            transform: rotateY(180deg);

            .stripe {
              background: linear-gradient(90deg, #000, #111 40%, #2b2b2b);
              border-radius: 3px;
              height: 40px;
              margin-top: 6px;
              box-shadow: inset 0 6px 14px #ffffff05;
            }

            .signature {
              color: #ffffff7a;
              letter-spacing: .6px;
              margin-top: 8px;
              font-size: 10px;
            }

            .card-number {
              color: #111827;
              background: linear-gradient(90deg, #f8fafc, #eef2f6);
              border-radius: 4px;
              align-items: center;
              height: 30px;
              margin-top: 10px;
              padding: 6px 8px;
              font-weight: 700;
              display: flex;
              position: relative;
              overflow: hidden;

              .blurred {
                background-image: linear-gradient(90deg, #0000000f, #0000002e, #0000000f);
                border-radius: 2px;
                width: 86%;
                height: 12px;
                transform: skew(-10deg);
              }

              .last-4 {
                color: #000000d9;
                margin-left: 8px;
                font-family: monospace;
                font-size: 14.5px;
              }
            }

            .cvv {
              text-align: right;
              margin-top: 12px;
              display: flex;
              flex-direction: column;
              align-items: end;

              p {
                color: #d1d5db;
                font-size: 12px;
                line-height: calc(1/.75);
              }

              .number {
                color: #111827;
                letter-spacing: 1px;
                text-align: center;
                background: #fff;
                border-radius: 6px;
                min-width: 48px;
                padding: 8px 12px;
                font-weight: 700;
                width: fit-content;
              }
            }
          }
        }
      }

      .container:nth-child(2) {
        .cards {
          .front {
            background-color: #c70036;
          }
        }
      }

      .container:nth-child(3) {
        .cards {
          .front {
            background-color: #193cb8;

            .date {
              color: #06df72;
            }
          }
        }
      }
    }
  }
}